BODY.BERT
{
    COLOR: black;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #f8f8f8
}
INPUT.BERT
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    FONT-SIZE: 10pt;
    TEXT-TRANSFORM: none;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: silver 1px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-ALIGN: center
}
TD.BERT
{
    BORDER-RIGHT: 1pt;
    BORDER-TOP: 1pt;
    FONT-SIZE: 10pt;
    BORDER-LEFT: 1pt;
    BORDER-BOTTOM: 1pt;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #f5f5f5;
    TEXT-ALIGN: Left;
    PADDING: 1pt	
}
SELECT.BERT
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 10pt;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Arial;
     BACKGROUND-COLOR: #f5f5f5
}
H4.BERT
{
    FONT-SIZE: xx-small;
    FONT-FAMILY: Arial
}
TH.BERT
{
    BORDER-RIGHT: 1pt;
    BORDER-TOP: 1pt;
    FONT-SIZE: 10pt;
    BORDER-LEFT: 1pt;
    COLOR: #000000;
    BORDER-BOTTOM: 1pt;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e4e4e4
}
A.BERT
{
    BORDER-RIGHT: 8pt;
    BORDER-TOP: 8pt;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 10pt;
    BORDER-LEFT: 8pt;
    COLOR: blue;
    BORDER-BOTTOM: 8pt;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
TABLE.BERT
{
    BORDER-RIGHT: black 1pt;
    BORDER-TOP: black 1pt;
    BORDER-LEFT: black 1pt;
    BORDER-BOTTOM: black 1pt;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: lightgrey
}
HR.BERT
{
    BORDER-RIGHT: #595959 1pt solid;
    BORDER-TOP: #595959 0pt solid;
    BORDER-LEFT: #595959 1pt solid;
    BORDER-BOTTOM: #595959 0pt solid;
    FONT-FAMILY: Arial;
    HEIGHT: 1pt;
    BACKGROUND-COLOR: #595959
}
INPUT BUTTON.BERT
{
    BACKGROUND-COLOR: red
}
TEXTAREA.BERT
{
    BORDER-RIGHT: 1pt;
    BORDER-TOP: 1pt;
    FONT-SIZE: 10pt;
    BORDER-LEFT: 1pt;
    BORDER-BOTTOM: 1pt;
    FONT-FAMILY: Arial
}
TFOOT.BERT
{
    FONT-SIZE: x-small;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: lightgrey
}
TF.BERT
{
    FONT-SIZE: x-small;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: lightgrey
}
H3.BERT
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    BORDER-LEFT: 1px;
    BORDER-BOTTOM: 1px solid;
    FONT-FAMILY: Arial
}
IMG.BERT
{
    BORDER-RIGHT: 1px;
    BORDER-TOP: 1px;
    BORDER-LEFT: 1px;
    BORDER-BOTTOM: 1px
}
TABLE.BERT
{
    BORDER-RIGHT: white;
    BORDER-TOP: white;
    BORDER-LEFT: white;
    BORDER-BOTTOM: white
}
TD.BERT
{
    BACKGROUND-COLOR: bisque
}

TH.BERT
{
    BORDER-RIGHT: 1pt;
    BORDER-TOP: 1pt;
    FONT-SIZE: 10pt;
    BORDER-LEFT: 1pt;
    COLOR: #000000;
    BORDER-BOTTOM: 1pt;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e4e4e4
}
A.BERT:hover
{
    COLOR: red;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline
}
 
