<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
       <!-- Allow up to 10MB uploads (value in KB) -->
       <httpRuntime maxRequestLength="20240" executionTimeout="1200" />
    </system.web> 
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.asp" />
                <add value="login.asp" />
                <add value="Index.asp" />
                <add value="MasterPage.html" />
                <add value="Default.htm" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <asp appAllowClientDebug="true" enableParentPaths="true" scriptErrorSentToBrowser="true">
            <limits scriptTimeout="00:59:00" maxRequestEntityAllowed="60000000" />
        </asp>		    			
        <httpErrors errorMode="Detailed">
            
        </httpErrors>
        <security>
            <authentication>
                <anonymousAuthentication enabled="false" />
            </authentication>
            <requestFiltering>
               <requestLimits maxAllowedContentLength="60485760" />
            </requestFiltering>
        </security>	
    </system.webServer>
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true"/>
	</system.web>	
</configuration>
